.headerContainer {
  composes: baseDesktop from global;
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  width: 100%;
  position: relative;
}

.logoContainer span {
  color: var(--casal-color);
  position: absolute;
  left: 142px;
  top: 66px;
}

.container {
  position: relative;
  top: 68px;
}